<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/d01eae0c-022b-44f1-9e08-d6fca2fb9c39/resourceGroups/Test/providers/Microsoft.ApiManagement/service/PCloudAPIapi/apis/PCloudAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/d01eae0c-022b-44f1-9e08-d6fca2fb9c39/resourceGroups/Test/providers/Microsoft.Web/sites/cloudapip</ResourceId>
    <ResourceGroup>Test</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cloudapip.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>48a22ac2-daef-42e3-b0f9-ec4b8ff4eb8a</ProjectGuid>
    <PublishUrl>https://cloudapip.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cloudapip</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>